.AppContainer {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  /*height: 100px;*/
  padding: 10px;
  /*border: 2px solid red;*/
  display: grid;
  grid-template-areas: "React CSS Node ES6 Auth";
  grid-gap: 10px;
  text-align: center;
}

.Auth {
  grid-area: Auth;
  border: 1px solid black;
}

.React {
  grid-area: React;
  border: 1px solid black;
}

.CSS {
  grid-area: CSS;
  border: 1px solid black;
}

.Node {
  grid-area: Node;
  border: 1px solid black;
}

.ES6 {
  grid-area: ES6;
  border: 1px solid black;
}

.presentation {
  text-align: center;
  margin-top: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
